.tasks-list{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    gap:10px;
    list-style-type: none;
    .task{
        margin-top: 5px;
        display:flex;
    justify-content: space-between;
    padding:10px;
    border-radius: 9px;
    background-color: bisque;
    color:black;
    }

}